body{
    
}

.container{
    padding: 0 2rem;

}


.header__logo__img{
    width: 17.6rem;
    /* width: clamp(30px,100px,171px); */
}
.header__btn__login{
    width: 182px;
    padding: 16px 32px ;
}

.hero-imagen{
    width: 100%;
    height: 342px;
    padding-bottom: 16px;
}

.hero__img__texh1 h1{
    font-size: 52px;
}
.hero__img__texh2 p{
    font-size: 22px;
    
}
.hero__img__btn button{

 padding: 1.6rem;
}

/* login */
.login__main{
 
}

.form_login{
  width: 423px;
  height: 291px;
    
}
.form_login h1{

    font-size: 18px;
    line-height: 21.13px;

}
.form_login input{

    width: 100%;
    height: 50px;
    border-radius:4px ;
    padding: 10px;
  

}
.form_login button{
    width: 100%;
    height: 50px;
    padding: 12px 16px 12px 16px;
    
  
}

/* card */
.card{
    margin-top: 30px;
    
}
.card_nombre{
 font-size:2rem ;
 box-sizing: inherit;
 font-weight:bold ;
 
}
.card_nombre a{
    font-size:1.5rem ;
   }

.card_producto{

 width: 176px;
 height: 252px;
font-size: 14px;

}
.producto__link a{
   
}


.producto__img{

}
.producto__img img{
 width: 100%;
 height: 174px;
 
}

/* footer */

.footer__information{
    
    width: 100%;
    height: 250px;



}
.footer__pie{
    width: 100%;

    height: 70px;
}
.information{
   
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

   
}

.information__logo{
 /* border: 2px solid ; */
}
.information__link {

}
.information__link a {

    font-size: 12px;
    padding: 10px;

 }


.information__form{
   

}
.form_containerr{

}

.form_containerr label{
    font-size: 15px ;
   
}
.information_name_form{
    height: 4rem;
    padding: 10px;
}
.information_name_form__cambiante{
    height: 70px;
    
}
.form_containerr button{
   padding: 16px;
   width: 146px; 
}