body{
    
}

.container{
    padding: 0 2rem;

}


.header__logo__img{
    width: 17.6rem;
    /* width: clamp(30px,100px,171px); */
}
.header__btn__login{
    width: 182px;
    padding: 16px ;
}

.hero-imagen{
    width: 100%;
    height: 342px;
    padding-bottom: 16px;
}

.hero__img__texh1 h1{
    font-size: 52px;
}
.hero__img__texh2 p{
    font-size: 22px;
    
}
.hero__img__btn button{

 padding: 1.6rem;
}