
  @import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200;300;400&family=Roboto:wght@100&display=swap');

:root{
    --blue:rgb(59, 130, 246);
    



}
*{
    margin: 0;  
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}   
body{
    font-size: arial; 
}
html{
    font-size: 62.5%;
}
.container{
    max-width: 1750px;
    margin: 0 auto;
    /* border: 2px solid red; */
}
main{
    background: #F5F5F5;
    height: 100vh;

}

.header{
   
    display: grid;
    grid-template-columns: min-content repeat(2,1fr);
    grid-template-rows:115px ;
    align-items: center;
    gap: 30px;
    
   
}
.header__logo{
    
}
.header__logo__img{
    width: 171px;
    /* width: clamp(30px,100px,171px); */
}

.header__search{
    
   
    display: flex;
    align-items: center;
    
}
.header__search__input{
    min-width:100% ;
    border-radius: 12px 0  0 12px;
    outline:none;
    border: none;
    color: #000;
    background-color: #F5F5F5;
    padding: 1rem;
    opacity: 0.5;
}
.header__search span{
    border-radius: 0 12px  12px 0;
    background-color: #F5F5F5;
    font-size: clamp(1rem,2rem,3rem);
    padding: 0.6rem;
    opacity: 0.5;
    
    
}
.header__btn{ 
    justify-self: end;
}
.header__btn__login {
    background: white;
    border: 1px solid var(--blue);
    color: var(--blue);
    text-decoration: none;
    

}
.banner{
    background-image: url("https://github.com/JhnFrankz/Challenge-AluraGeek-Ecommerce/blob/main/img/banner-image.png?raw=true");
    width: 100%;
    background-position: center center;
    background-size: cover;
    margin: 0 auto;
}

.hero-imagen{
    display: flex;
    flex-direction:column;
    align-items: start;
    justify-content: end;
    gap: 10px;

  
    
}
.hero__img__texh1 h1{
   color: white;
   
}
.hero__img__texh2{
    font-size: clamp(0.625rem, 0.1797rem + 2.375vw, 3rem);
    color: white;
}

.hero__img__btn button{
    color:white;
    background: var(--blue) ;
    border: none;

}


/* login */
.login__main{
 display: grid;
 place-items: center;
}
.form_login{
  
  display: flex;
  flex-direction: column;
  gap:15px;
  text-align: center;
  
      
}
.form_login h1{



}
.form_login input{

    border-radius:4px ;
    border: none;
    box-shadow: 4px 3px 5px 2px rgba(0,0,0,0.24);
    -webkit-box-shadow: 4px 3px 5px 2px rgba(0,0,0,0.24);
    -moz-box-shadow: 4px 3px 5px 2px rgba(0,0,0,0.24);
    outline: none;
    

}
.form_login button{

    background: var(--blue);
    border: none;
    color: white;
    outline: none;
    

}
/* card */
.card{
    margin-top: 30px;
    /* border: 2px solid red; */
    display: grid;
    gap: 15px;
    
}

.card_nombre{
    display: flex;
    justify-content: space-between;
    /* border: 2px solid yellow; */
    box-sizing: inherit;
    font-weight:bold ;
}
.card_nombre a {
    text-decoration: none;
    color: var(--blue);
}

.card_producto{
 display: grid;
 width: 176px;
 height: 252px;
 /* border: 2px solid black; */
 
}
.producto__img{

}
.producto__img img{
 width: 100%;
 background-size: cover;
}
.producto__link a{
    text-decoration: none;
    color: var(--blue);
}




