*{
  margin: 0;
  padding: 0;
}
.container{
  background-color: black;
  width: 100vw;
  height: 100vh;
  display: grid;
  place-items: center;
}
.video{
  width: 280px;
  height: 500px;
  border-radius:15px;
}